*{
    padding:0px;
    margin:0px;
}
.container{
    background-color: rgb(46, 46, 46);
    overflow: hidden;
}
.nav{
    display:flex;
    justify-content: space-around;
    height:60px;
    padding-top:50px;
}
.logo{
    width:50px;
    height:50px;
    overflow: hidden;
}
.links a{
    text-decoration: none;
    color:gray;
    margin: 0px 20px;
}
.links a:active{
    text-decoration:dotted;
    color:white
}
.links a:hover{
    text-decoration:dashed;
    color:white;
}
.hero{
    display:flex;
    height:80vh;
    width:76%;
    margin:auto;
    background-image: url("./assets/hero.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    justify-content: space-around;
    align-items: center;
    color:white;
}
.hero p{
    color:gray;
}
.detailsection{
    width:25%;
}
.detailsection h3{
    font-size: 30px;
    margin-bottom:25px;
}
.detailsection p{
    line-height: 22px;
    margin-bottom: 32px;
}
.cv{
    color:orange;
    font-size:1em;
    text-decoration:none;
    text-transform: capitalize;
}
.namesection{
    width:60%;
}
.namesection h1{
    font-size: 5em;
}

.underlinebox{
    width:60px;
    min-height:8px;
    background-color:orange;
}
.socials img{
    width:40px;
    height:40px;
    margin:0px 10px;
    border-radius: 10px;
    margin-top:60px;
}
.about{
    display:flex;
    background-color: #141414;
    color: white;
    justify-content: space-evenly;
    height:70vh;
    padding-top:100px;
}
.first{
    width:30%;
}
.first h3{
    font-size: 1.8em;
    margin-top: -32px;
    margin-bottom: 40px;
}
.first p{
    margin-bottom:50px;
    line-height:23px;
}
.first a{
    color:orange;
    font-size:1em;
    text-decoration:none;
    text-transform: capitalize;
}
.second{
    width:30%;
}
.second h3{
    font-size: 1.8em;
    margin-bottom:40px;
    line-height:1.1em;
}
.second p{
    margin-bottom:40px;
    line-height:23px;
}
.num{
    display:flex;
}
.yearsofexperience{
    display:flex;
    width:60%;
    justify-content: space-between;
}
.yearsofexperience h1{
    color:orange;
}
.yearsofexperience p{
    color:white;
}
.about p{
    color:gray;
}
.hours{
    display:flex;
}
.hours h1{
    padding-right:15px;
}
.hours p{
    color:white;
}
.years h1{
    padding-right:15px;
}
.years p{
    color:white;
}
.years{
    display:flex;
}
.services{
    display:flex;
    width: 58%;
    margin: auto;
    margin-top:-188px;
    color:white;
}
.service{
    width: 90%;
    margin-right: 10px;
    height: 225px;
    background-color: rgb(63 59 59);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
}
.service a{
    color:gray;
    text-decoration:none;
}
.services div:first-child{
    background-color:orange;
}
.works{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    justify-content: flex-end;
    margin-left:5%;
    color:white;
}
.works h1{
    margin-top:25px;
    margin-bottom:30px;
}
.work{
    width:47%;
}
.worktext{
    width: 439px;
}
.worktext p{
    color:gray;
}
.projconts{
    display: flex;
    width: 47%;
    flex-direction: column;
}
.projcont{
    width:70%;
    height:500px;
    overflow: hidden;
    object-fit: cover;
    margin-top: 130px;
    border-radius: 16px;
}